
<!-- <div class="card">
    <div style="width: 420px;" class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <a  style="margin-bottom: 40px;" type="button" class="btn btn-dark">Login</a>
        <a routerLink="/visitante" type="button" class="btn btn-dark">Visitante</a>
    </div>
</div> -->

<body>

    <div>
        <img class="foto-perfil" src="./assets/img/cv-online.png" alt="">
    </div>
    <div class="nombre-perfil">
        <h3>Mauro Waldemar Galizzi</h3>
    </div>
    
    <a class="links" href="">Linkedin</a>
    <a class="links" href="">Github</a>
    <a routerLink="/visitante" class="links">Visitar CV</a>
    <a routerLink="/login" class="links" >Login</a>
    
</body>