<header>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-xl">
          <a class="navbar-brand text-light" href="#">Mauro Waldemar Galizzi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon btn btn-light"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link text-light" href="#educacion">Educación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#lenguajes">Lenguajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#proyectos">Proyectos</a>
              </li>

              <form class="container-fluid justify-content-start">
                <!-- Button trigger modal -->
                           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                             Login
                           </button>
                           <app-login></app-login>
                           <!-- Aca me voy al componente login para hacerlo mas limpio -->
               </form>
            </ul>
          </div>
        </div>
      </nav>
</header>
